= simple_form_for(@establishment, url: establishment_setting_path(@establishment.id), method: :put, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  .inputs

    = f.input :name
    = f.input :phone, input_html: { class: 'span2' }
    = f.input :address, input_html: { class: 'span6' }
    = f.input :description, as: :text, input_html: { class: 'span6' }
    = f.input :latitude, as: :string
    = f.input :longitude, as: :string
    = f.input :daily_point_limit, hint: "Habilitando esta opção, o cliente só poderá ganhar um ponto por dia"
    .control-group
      .controls= image_tag @establishment.logo(:thumb)
    = f.input :logo, input_html: { class: 'popovers', data: { content: "Tamanho 70x70px. Formato preferido: JPEG.", "original-title" => "Logo do aplicativo", trigger: "hover" } }
    .control-group
      .controls= image_tag @establishment.cover, style: "width: 160px; height: 106px"
    = f.input :cover, input_html: { class: 'popovers', data: { content: "Tamanho 640x426px. Formato preferido: JPEG.", "original-title" => "Capa do aplicativo", trigger: "hover" } }

  .form-actions
    = f.button :submit, class: 'btn btn-success'
