= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick"
= javascript_include_tag "coupons"
:javascript
  Highcharts.setOptions({
      lang: {
        decimalPoint: ',',
        thousandsSep: '.',
        printChart: 'Imprimir',
        months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        shortMonths: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
        weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
        loading: ['Atualizando o gráfico...aguarde']
      },
      colors: [
         '#2f7ed8',
         'red',
         '#8bbc21',
         '#910000',
         '#1aadce',
         '#492970',
         '#f28f43',
         '#77a1e5',
         '#c42525',
         '#a6c96a'
      ]
    })

.row-fluid
  .span12
    %h3.page-title
      Painel de Controle
    %ul.breadcrumb
      %li
        %i.icon-home
        = link_to 'Dashboard', admin_index_path

.row-fluid
  .span8
    .widget
      .widget-title
        %h4
          %i.icon-user
          Últimos Cadastros
        %span.tools
          %a.icon-refresh{:href => "javascript:location.reload();"}
      .widget-body
        %table.table.table-hover
          %thead
            %tr
              %th= t('activerecord.attributes.user.name')
              %th= t('activerecord.attributes.user.email')
              %th= t('activerecord.attributes.user.created_at')
          %tbody
            - User.order('created_at desc').limit(20).each do |user|
              %tr.odd.gradeX
                %td= user.name
                %td= user.email
                %td= l(user.created_at.to_date, format: :default)

  .span4
    .widget
      .widget-title
        %h4
          %i.icon-tags
          Últimas Validações
        %span.tools
          %a.icon-refresh{:href => "javascript:location.reload();"}
      .widget-body
        %table.table.table-hover
          %thead

          %tbody
            - Coupon.where('checked = true').order('created_at desc').limit(10).each do |coupon|
              %tr.odd.gradeX
                %td= coupon.promotion.establishment.name
                %td= coupon.user.name
                %td
                  %strong.italic= l(coupon.created_at, format: :default)

.row-fluid
  .span12
    .widget
      .widget-title
        %h4
          %i.icon-dashboard
          Sexo x Idade
        %span.tools
          %a.icon-refresh{:href => "javascript:location.reload();"}
      .widget-body
        = column_chart ["M","F"].map{ |gender| {:name => gender, :data => User.where(gender: gender).group("date_trunc('year', age(birth_date))").uniq.count.map{ |key,value| {key.to_i => value} }.reduce(:merge) } }
.row-fluid
  .span12
    .widget
      .widget-title
        %h4
          %i.icon-dashboard
          Pontos / Cliente
        %span.tools
          %a.icon-refresh{:href => "javascript:location.reload();"}
      .widget-body
        = bar_chart Point.group("user_id").count.values.each_with_object(Hash.new(0)) {|e, h| h["#{e} pontos"] += 1}
.row-fluid
  .span12
    .widget
      .widget-title
        %h4
          %i.icon-dashboard
          Compartilhamentos no facebook
        %span.tools
          %a.icon-refresh{:href => "javascript:location.reload();"}
      .widget-body
        = line_chart Point.share_points.group_by_day('points.created_at').count



