
.row-fluid
  .span12
    %h3.page-title
      Clientes
    %ul.breadcrumb
      %li
        %i.icon-home
        = link_to 'Dashboard', establishment_index_path
        %span.icon-angle-right
      %li
        Clientes
- if current_establishment.plan == 'premium'
  = link_to 'Exportar usuários', establishment_users_path(format: :csv), class: 'btn btn-info'
  %br
  %br
.row-fluid
  .span12
    .widget
      .widget-title
        %h4
          %i.icon-gift
          Clientes
        %span.tools
          %a.icon-refresh{:href => "javascript:location.reload();"}
      .widget-body
        %table#sample_1.table.table-striped.table-bordered
          %thead
            %tr
              %th= t('activerecord.attributes.user.name')
              %th= t('activerecord.attributes.user.email')
              %th= t('activerecord.attributes.user.birth_date')
              %th= t('activerecord.attributes.user.gender')
              %th= t('activerecord.attributes.user.phone')
              %th= t('activerecord.attributes.user.points')
              %th= t('activerecord.attributes.user.created_at')
          %tbody
            - @users.each do |user, count|

              %tr.odd.gradeX
                %td= user.name
                %td= user.email
                %td
                  = l(user.birth_date, format: :default) if user.birth_date
                %td= user.gender
                %td= user.phone
                %td= user.points.length
                %td= l(user.created_at.to_date, format: :default)
