= simple_form_for(@establishment, url: (@establishment.new_record? ? admin_establishments_path : admin_establishment_path(@establishment)), html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  .inputs

    = f.input :name
    = f.input :phone, input_html: { class: 'span2' }
    = f.input :address, input_html: { class: 'span6' }
    = f.input :description, as: :text, input_html: { class: 'span6' }
    = f.input :latitude, as: :string
    = f.input :longitude, as: :string
    = f.input :daily_point_limit, hint: "Habilitando esta opção, o cliente só poderá ganhar um ponto por dia"
    = f.input :share_points, input_html: { class: 'input-small popovers', data: { content: "Quantidades de pontos extras ao compartilhar no Facebook", "original-title" => t('activerecord.attributes.establishment.share_points'), trigger: "hover" } }
    - if @establishment.persisted?
      .control-group
        .controls= image_tag @establishment.logo(:thumb)
      = f.input :logo, input_html: { class: 'popovers', data: { content: "Tamanho 128x128px. Formato preferido: JPEG.", "original-title" => "Logo do aplicativo", trigger: "hover" } }
      .control-group
        .controls= image_tag @establishment.cover, style: "width: 160px; height: 106px"
      = f.input :cover, input_html: { class: 'popovers', data: { content: "Tamanho 640x426px. Formato preferido: JPEG.", "original-title" => "Capa do aplicativo", trigger: "hover" } }
    - else
      = f.input :logo, input_html: { class: 'popovers', data: { content: "Tamanho 128x128px. Formato preferido: JPEG.", "original-title" => "Logo do aplicativo", trigger: "hover" } }
      = f.input :cover, input_html: { class: 'popovers', data: { content: "Tamanho 640x426px. Formato preferido: JPEG.", "original-title" => "Capa do aplicativo", trigger: "hover" } }
      = f.input :email, required: true
      = f.input :password, required: true
      = f.input :password_confirmation, required: true

  .form-actions
    = link_to 'Cancelar', admin_establishments_path, class: 'btn'
    = f.button :submit, class: 'btn btn-success'
