.row-fluid
  .span12
    %h3.page-title
      Estabelecimentos
    %ul.breadcrumb
      %li
        %i.icon-home
        = link_to 'Dashboard', admin_index_path
        %span.icon-angle-right
      %li
        Estabelecimentos
= link_to 'Cadastrar Estabelecimento', new_admin_establishment_path, class: 'btn btn-info'
%br/
%br/
.row-fluid
  .span12
    .widget
      .widget-title
        %h4
          %i.icon-group
          Estabelecimentos
        %span.tools
          %a.icon-refresh{:href => "javascript:location.reload();"}
      .widget-body
        %table#sample_1.table.table-striped.table-bordered
          %thead
            %tr
              %th= t('activerecord.attributes.establishment.logo')
              %th= t('activerecord.attributes.establishment.name')
              %th= t('activerecord.attributes.establishment.address')
              %th= t('activerecord.attributes.establishment.phone')
              %th= t('activerecord.attributes.establishment.email')
              %th= t('activerecord.attributes.establishment.plan')
              %th= t('activerecord.attributes.establishment.share_points')
              %th
          %tbody
            - @establishments.each do |establishment|
              %tr.odd.gradeX
                %td= image_tag establishment.logo(:thumb)
                %td= establishment.name
                %td= establishment.address
                %td= establishment.phone
                %td= establishment.email
                %td= t("activerecord.attributes.establishment.plan_types.#{establishment.plan}")
                %td= establishment.share_points
                %td.actions
                  .btn-group
                    = link_to edit_admin_establishment_path(establishment), class: 'btn', title: 'Editar' do
                      %i.icon-edit
                    = link_to admin_establishment_path(establishment), :method => :delete, :data => { :confirm => t('dialog.confirm') }, class: 'btn', title: 'Excluír' do
                      %i.icon-remove
        = will_paginate @establishments, :renderer => BootstrapPaginationHelper::LinkRenderer