= simple_form_for(@promotion, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  .inputs

    = f.input :description, input_html: { class: 'input-xxlarge popovers', data: { content: "Almoce no King e ganhe 1 ponto.", "original-title" => "Exemplo", trigger: "hover" } }
    = f.input :points, input_html: { class: 'input-small popovers', data: { content: "Quantidade de pontos o cliente vai ganhar", "original-title" => t('activerecord.attributes.promotion.points'), trigger: "hover" } }
    = f.input :share_points, input_html: { class: 'input-small popovers', data: { content: "Quantidades de pontos extras ao compartilhar no Facebook", "original-title" => t('activerecord.attributes.promotion.share_points'), trigger: "hover" } }
    = f.input :valid_until, input_html: { class: 'input-small popovers', data: { content: "Tempo de validade da promoção.", "original-title" => t('activerecord.attributes.promotion.valid_until'), trigger: "hover" } }

  .form-actions
    = link_to 'Cancelar', promotions_path, class: 'btn'
    = f.button :submit, class: 'btn btn-success'
