%h1 QR Code
= image_tag "https://chart.googleapis.com/chart?chs=150x150&cht=qr&choe=UTF-8&chl=#{current_establishment.id}"
= image_tag "https://chart.googleapis.com/chart?chs=300x300&cht=qr&choe=UTF-8&chl=#{current_establishment.id}"
= image_tag "https://chart.googleapis.com/chart?chs=500x500&cht=qr&choe=UTF-8&chl=#{current_establishment.id}"