= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick"
= javascript_include_tag "coupons"
:javascript
  Highcharts.setOptions({
      lang: {
        decimalPoint: ',',
        thousandsSep: '.',
        printChart: 'Imprimir',
        months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        shortMonths: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
        weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
        loading: ['Atualizando o gráfico...aguarde']
      }
    })

.row-fluid
  .span12
    %h3.page-title
      Dashboard
    %ul.breadcrumb
      %li
        %i.icon-home
        = link_to 'Dashboard', establishment_index_path

.row-fluid
  .span12
    .widget
      .widget-title
        %h4
          %i.icon-check
          Validação de cupons
        %span.tools
          %a.icon-refresh{:href => "javascript:location.reload();"}
      .widget-body
        .validate_coupon
          .form-horizontal
            .control-group
              %label.control-label Buscar cupom:
              .controls
                .input-append
                  = text_field_tag :coupon
                  %button#search_coupon.btn
                    %i.icon-search
          #coupon_info
.row-fluid
  .span12
    .widget
      .widget-title
        %h4
          %i.icon-dashboard
          Relatorios de engajamento
        %span.tools
          %a.icon-refresh{:href => "javascript:location.reload();"}
      .widget-body

        = pie_chart current_establishment.promotions.joins(:coupons).group("promotions.description").order('count_all desc').count, library: { title: { text: 'Cupons / promoção' }}
        %br
        %br
        = line_chart current_establishment.points.share_points.group_by_day('points.created_at').count, library: { title: { text: 'Compartilhamentos no facebook' }}


