.form-horizontal
  .control-group
    %label.control-label Cupom:
    .controls
      = @coupon.id
  .control-group
    %label.control-label Criado em:
    .controls
      = t(@coupon.created_at, format: :full)
  .control-group
    %label.control-label Cliente:
    .controls
      = @coupon.user.name
  .control-group
    %label.control-label promoção:
    .controls
      = @coupon.promotion.description
      (#{@coupon.promotion.points} pontos)
