%p#notice= notice

%p
  %b Name:
  = @establishment.name
%p
  %b Address:
  = @establishment.address
%p
  %b Phone:
  = @establishment.phone
%p
  %b Description:
  = @establishment.description
%p
  %b Latitude:
  = @establishment.latitude
%p
  %b Longitude:
  = @establishment.longitude

= link_to 'Edit', edit_establishment_path(@establishment)
\|
= link_to 'Back', establishments_path
