!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Ligoo Card - establishmentistração
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.min.css", media: "all"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body.fixed-top
    #header.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{:href => "index.html"}
            = image_tag "logo.png", :alt => "Conquer"
          %a#main_menu_trigger.btn.btn-navbar.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.arrow
          .top-nav
            %ul#top_menu.nav.pull-right
              %li.divider-vertical.hidden-phone.hidden-tablet
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-user
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to edit_establishment_registration_path do
                      %i.icon-user
                      Dados de acesso
                  %li.divider
                  %li
                    = link_to destroy_establishment_session_path, :method => :delete do
                      %i.icon-key
                      Sair
    #container.row-fluid
      #sidebar.nav-collapse.collapse
        .sidebar-toggler.hidden-phone
        %ul
          %li.has-sub.active
            %a{:href => "javascript:;"}
              %i.icon-gift
              Promoções
              %span.arrow
            %ul.sub
              %li.active
                = link_to 'Cartão de Fidelidade', promotions_path
              %li
                = link_to 'Novidades', news_index_path
          %li
            = link_to establishment_settings_path do
              %i.icon-cogs
              Configurações


      #body
        .container-fluid
          - flash.each do |key, msg|
            %br
            .alert{class: "alert-#{key}"}
              = msg
          = yield

    #footer
      2013 &copy; Ligoo Card - establishmentistração
      .span.pull-right
        %span.go-top
          %i.icon-arrow-up

    = javascript_include_tag "js/jquery-1.8.3.min.js", "data-turbolinks-track" => true
    = javascript_include_tag "bootstrap/js/bootstrap.min.js", "data-turbolinks-track" => true
    = javascript_include_tag "js/jquery.blockui.js", "data-turbolinks-track" => true
    /[if lt IE 9]
      <script src="/assets/js/excanvas.js"></script>
      <script src="/assets/js/respond.js"></script>
    = javascript_include_tag "chosen-bootstrap/chosen/chosen.jquery.min.js", "data-turbolinks-track" => true
    = javascript_include_tag "uniform/jquery.uniform.min.js", "data-turbolinks-track" => true
    = javascript_include_tag "js/app.js", "data-turbolinks-track" => true

    :javascript
      jQuery(document).ready(function() {
         // initiate layout and plugins
         App.init();
      });
